body, div, dl, dt, dd, ul, li, h1, h2, h3, h4, h5, h6, input, form, a, p, textarea {
    margin: 0;
    padding: 0;
}

body {
    width: 1500px;
    margin: 0 auto;
}

ol, ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    display: block;
    color: #fff;
}

img {
    border: none;
    display: block;
}

.clearfix {
    zoom: 1;
}

.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}
